body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

#chatbox {
  width: 80%;
  height: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  background: white;
}

input {
  width: 60%;
  padding: 10px;
}

button {
  padding: 10px;
}